name: Java CI with Maven

on:
  pull_request:
  merge_group:

jobs:
  container-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: ./mvnw clean verify --file pom.xml
  k6-e2e-tests:
    services:
      postgres:
        image: postgres:18.2-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: S3cret
          POSTGRES_USER: postgres_user
          POSTGRES_DB: postgres_db
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: Build runnable jar with Maven
        run: ./mvnw package liberty:create liberty:install-feature liberty:deploy liberty:package -Dinclude=minify,runnable -DskipTests
      - name: Run integration tests
        run: |
          nohup java -jar target/realworld-liberty.jar & sleep 20s
        shell: bash
      - name: Run local k6 test
        uses: grafana/run-k6-action@v1
        with:
          path: e2e/api-test.js